---
type Props = {
  title: string | null;
  image: string | null;
  alt: string | null;
};

const { title, image, alt } = Astro.props;
---

<div class="card">
    <img src={image} class="card__icon" alt={alt} />
    <h6 class="card__title">{title}</h6>
  <div class="card__content">
    <slot />
  </div>
  <button class="button button--basic">get started</button>
</div>
