<footer class="footer">
    <div class="footer__container wrapper">
            <img src="/assets/images/skilled-white.svg" alt="" class="footer__logo">
            <button class="button button--purple">get started</button>
    </div>
</footer>