<header class="header">
    <div class="header__container wrapper">
            <img src="/assets/images/skilled.svg" alt="" class="header__logo">
            <button class="button button--black">get started</button>
    </div>
</header>