$color-white: white;
$color-black: black;
$color-light-black: #666CA3;
$color-gradient: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$color-light-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$color-purple:#4851FF;
$color-light-purple:#F02AA6;
$color-page: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);